.card {
  margin: 0;
  width: 400px;
  height: 576px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.card__text-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__image {
  width: 400px;
  height: 272px;
  object-fit: cover;
}

.card__date {
  color: #b6bcbf;
}

.card__title {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  font-family: "Roboto-Slab", "Arial", sans-serif;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card__description {
  margin: 0;
  max-height: 110px;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.card__source {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Roboto-Slab", "Arial", sans-serif;
  color: #b6bcbf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__bookmark {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  gap: 5px;
}

.card__bookmark-to-signin-button {
  width: 182px;
  height: 40px;
  opacity: 0%;
  pointer-events: none;
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transform: translateX(100px);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__bookmark:hover .card__bookmark-to-signin-button {
  pointer-events: all;
  opacity: 100%;
  transform: translateX(0);
}

.card__bookmark-to-signin-button:hover {
  background-color: #e8e8e8;
}

.card__bookmark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.card__bookmark-button-img {
  opacity: 40%;
}

.card__bookmark-button:hover .card__bookmark-button-img,
.card__bookmark-button:focus .card__bookmark-button-img {
  opacity: 100%;
}
