.card {
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.card__text-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__link {
  text-decoration: none;
  color: #1a1b22;
}

.card__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
}

.card__date {
  color: #b6bcbf;
}

.card__title {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  font-family: "Roboto-Slab-reg", "Arial", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card__description {
  margin: 0;
  max-height: 110px;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.card__source {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto-Slab-700", "Arial", sans-serif;
  color: #b6bcbf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__bookmark {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  gap: 5px;
}

.card__bookmark-signin {
  width: 100%;
  height: 40px;
  opacity: 0%;
  pointer-events: none;
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transform: translateX(-100px);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__bookmark:focus .card__bookmark-signin,
.card__bookmark:hover .card__bookmark-signin {
  pointer-events: all;
  opacity: 100%;
  transform: translateX(0);
}

.card__bookmark-signin:hover {
  background-color: #e8e8e8;
}

.card__bookmark-signin_inactive {
  display: none;
}

.card__bookmark-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #fff;
  pointer-events: none;
  border: none;
}

.card__bookmark-button_allowed {
  cursor: pointer;
  pointer-events: all;
}

.card__bookmark-button-img {
  opacity: 40%;
}

.card__bookmark-button-img_filled {
  opacity: 100%;
}

.card__bookmark-button:hover .card__bookmark-button-img {
  opacity: 100%;
}

.card__bookmark-button-delete {
  opacity: 40%;
}

.card__bookmark-button-delete:hover {
  opacity: 100%;
}

@media screen and (max-width: 950px) {
  .card__image {
    height: 150px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .card__description {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

@media screen and (max-width: 560px) {
  .card__image {
    height: 196px;
  }
}
