.cards {
  background: #f5f6f7;
}

.cards__loading {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 282px;
  gap: 24px;
  background-color: #f5f6f7;
}

.cards__loading_visible {
  display: flex;
}

.cards__loading-title {
  margin: 0;
  color: #b6bcbf;
}

.cards__nothing-found {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 374px;
  gap: 16px;
  background-color: #f5f6f7;
}

.cards__nothing-found_visible {
  display: flex;
}

.cards__nothing-found-image {
  height: 82.5px;
  width: 82.5px;
}

.cards__nothing-found-title {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}

.cards__nothing-found-description {
  margin: 0;
  max-width: 250px;
  text-align: center;
  color: #b6bcbf;
}

.cards__title {
  margin: 0 0 64px 0;
  font-size: 40px;
  line-height: 46px;
  font-family: "Roboto-Slab", "Arial", sans-serif;
  color: #1a1b22;
}

.cards__elements {
  padding: 80px 95px;
  display: none;
  flex-direction: column;
}

.cards__elements_visible {
  display: flex;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, min-content));
  grid-gap: 16px 16px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cards__show-more {
  margin-top: 64px;
  padding: 0;
  display: none;
  width: 288px;
  height: 64px;
  cursor: pointer;
  align-self: center;
  border-radius: 80px;
  border-style: none;
  color: #1a1b22;
  background-color: #fff;
  font-weight: 500;
}

.cards__show-more:hover,
.cards__show-more:focus {
  background-color: #e8e8e8;
}

.cards__show-more_visible {
  display: block;
}
